

* {
  background-color: var(--background-color);
  font-family: 'Arial', 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
  font-size: 20px;
  align-items: center;
  color: var(--light);
}

:root {
  --primary: #777768;
  --secondary: #7F8CA6;
  --tertiary: #B12704;
  --background: #181818;
  --light: #fafafa;

  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

html,
body {
  margin: 0;
  padding-bottom: 5%;
  font-weight: 600;
  line-height: 1.5;
  font-size: 18px;
  letter-spacing: .2em;
  background: var(--background);
  color: var(--light);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

#about,
#portfolio,
#contact,
#resume{
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;

}


p {
  font-size: 1.15rem;
  background-color: var(--secondary);
  margin-top: 20px;
  padding: 100px;
}


header {
  padding: 20px 35px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  background-color: var(--background);
}

header h1 {
  width: 100%;
  text-align: center;
}

header nav ul {
  margin-top: 20px;
  width: 100%;
  justify-content: center;
}

header nav ul li a {
  font-size: 20px;
}

button:hover {
  opacity: .85;
}


img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

input {
  font-size: 1rem;
  padding: 0.25rem;
  border: 2px solid var(--primary);
  outline: none;
  border-radius: 3px;
  transition: box-shadow 0.2s;
}

input:focus {
  border: 1px solid var(--secondary);
  box-shadow: 0 0 .25rem rgba(0, 0, 0, .5);
}

nav li {
  cursor: pointer;
  font-size: 20px;
  letter-spacing: .3em;
}

textarea {
	width: 600px;
	height: 120px;
	border: 3px solid var(--light);
	padding: 5px;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.mx-1 {
  margin-right: var(--spacing-one);
  margin-left: var(--spacing-one);
}

.mx-2 {
  margin-right: var(--spacing-two);
  margin-left: var(--spacing-two);
}

.mx-5 {
  margin-right: var(--spacing-five);
  margin-left: var(--spacing-five);
}

.my-1 {
  margin-top: var(--spacing-one);
  margin-bottom: var(--spacing-one);
}

.my-2 {
  margin-top: var(--spacing-two);
  margin-bottom: var(--spacing-two);
}

.my-5 {
  margin-top: var(--spacing-five);
  margin-bottom: var(--spacing-five);
}


.foot{
  padding: 100px;
  background-color:var(--background);
  color: white;
  text-align: center;
}

